# Eclipse
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/target
/dependency-reduced-pom.xml

# Intellij
*.iml
*.ipr
*.iws
.idea/

# Locally stored "Eclipse launch configurations"
*.launch


# Project exclude paths
/ClubSpigot-Server/src/main/java/co/aikar/timings/
/ClubSpigot-Server/src/main/java/dev/cobblesword/nachospigot/
/ClubSpigot-Server/src/main/java/io/papermc/paper/
/ClubSpigot-Server/src/main/java/sun/reflect/